body

{ background-color:black;}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
    
    ul li a, ul li a:visited {
    display: block;
    text-decoration: none;
    margin: 1px;
    padding: 2px 0px 2px 5px;
    width: 120px;
    color: lightgrey;
    font-weight: bold;
    font-size: 24px;
    border-left: 5px solid lightgrey ;
    }
    
    /* dinamički efekt za izbornik */
    ul li a:hover {
    text-decoration: none;
    color: slategray;
    border-left-color: slategray;
    }
    
h1{
  color: maroon;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

p.citat{
    font-style:italic;
    font-size: 20px;
    border: 1px solid #000;
    border-top: 1cm;
    border-left: 10cm;
    border-right: 10cm;
    border-width: 9cm;
    

    text-align: center;
    background-color: #ffffcc;
}

#jahaci {
  color: #000;
  border-bottom: 2px solid #455372;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 1px;
  padding-left: 30px;
}
#jahaci li {
  display: inline;
}
#jahaci li a {
  color: #000;
  background: #d9dbe1;
  border: 2px solid #455372;
  padding: 3px 5px 1px 5px;
  margin: 0px;
  text-decoration: none;
}
#jahaci li a:hover {
  border-bottom: 2px solid white;
  background-color: #eee;
  color: #455372;
}
#jahaci li a:active {
  color: #c00;
}
#jahaci li a#aktivni {
  color: #000;
  background: #fff;
  border-bottom: 2px solid white;
}

  
  