body

{ background-color: plum;}
h1{
    color: black;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
    text-decoration: underline;
}

div.prvi{
    position: relative;
    top: -220px;
    left: 590px;
}
div.drugi{
    position: relative;
    top: 0px;
    left:0px;
}