body

{ background-color:black;}

div.tablica{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-color: maroon;

}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
    
    ul li a, ul li a:visited {
    display: block;
    text-decoration: none;
    margin: 1px;
    padding: 2px 0px 2px 5px;
    width: 120px;
    color: lightgrey;
    font-weight: bold;
    font-size: 24px;
    border-left: 5px solid lightgrey ;
    }
    
    /* dinamički efekt za izbornik */
    ul li a:hover {
    text-decoration: none;
    color: maroon;
    border-left-color: maroon;
    }
    
h1{
  color:maroon;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
   }

p.citat{
    font-style:italic;
    font-size: 20px;
    border: 1px solid #000;
    color: black;
    text-align: center;
    background-color: #ffffcc;
}

div.prvi{
  position: relative;
  left: 1360px;
  top: -60px;
}

p{
  color: white;
}



#primer2 { position: relative; top:25px; width: 110px }
#primer2 ul { list-style:none; padding-left:5px }
#primer2 img { border: 2px solid white; margin: 0 5px 5px 0 }
#primer2 img:hover { border: 2px solid #FC8E02; background-color: transparent }
#primer2 figure {
    position: absolute;
    background-color: #F7DFA3;
    padding: 5px;
    border: 1px dotted #FC8E02;
    visibility: hidden;
    color: black;
    text-decoration: none;
}
#primer2 li:hover figure img {
    border: none;
    padding: 5px;
    max-width: 550px;
}
#primer2 li:hover figure {
    visibility: visible;
    top: 0;
    left: 100px;
}
#primer2 figcaption { color: gray; padding-left:10px }

#primer3 { position: relative; left: 704px; top: -420px; width: 110px }
#primer3 ul { list-style:none; padding-left:5px }
#primer3 img { border: 2px solid white; margin: 0 5px 5px 0 }
#primer3 img:hover { border: 2px solid #FC8E02; background-color: transparent }
#primer3 figure {
    position: absolute;
    background-color: #F7DFA3;
    padding: 5px;
    border: 1px dotted #FC8E02;
    visibility: hidden;
    color: black;
    text-decoration: none;
}
#primer3 li:hover figure img {
    border: none;
    padding: 5px;
    max-width: 550px;
}
#primer3 li:hover figure {
    visibility: visible;
    top: 0;
    left: 100px;
}
#primer3 figcaption { color: gray; padding-left:10px }

</style>


