body

{ background-color:black;}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
    
    ul li a, ul li a:visited {
    display: block;
    text-decoration: none;
    margin: 1px;
    padding: 2px 0px 2px 5px;
    width: 120px;
    color: lightgrey;
    font-weight: bold;
    font-size: 24px;
    border-left: 5px solid lightgrey ;
    }
    
    /* dinamički efekt za izbornik */
    ul li a:hover {
    text-decoration: none;
    color: lightgreen;
    border-left-color: lightgreen;
    }

    body {
	  
    }
    
  h1{color: maroon;
text-align: center;}

  
  